{% extends 'base.html' %}
    {% block content %}
        <div class="container-fluid">
            <form novalidate method="POST" class="form-register, mx-auto">
                <!--CSRF token hidden-->
                {{ form.hidden_tag() }}
                <h4 class="text-center">VPN Login</h4>
                <div class="mb-3 mt-5">
                  <label class="form-label">Email Address</label>
                    {{ form.email(type="email",class="form-control", id="exampleInputEmail1") }}
                    <small class="form-text text-muted">
                        {{ ("%s"%(form.errors['email']))[2:-2] }}
                    </small>
                </div>
                <div class="mb-3">
                  <label class="form-label">OTP Code</label>
                      {{ form.otp(type="password",class="form-control", id="exampleInputPassword1") }}
                    <small class="form-text text-muted">
                        {{ ("%s"%(form.errors['otp']))[2:-2]}}
                    </small>
                    {% if isotpfail %}
                        <small class="form-text text-muted">
                            Invalid OTP Code
                        </small>
                    {% endif%}
                  <div id="emailHelp" class="form-text mt-3">Code doesn't work?
                      <a href="{{url_for('register_page')}}">Click Here</a>
                  </div>
                </div>

                {{ form.login(type="submit", class="btn btn-primary mt-5")}}
              </form>
        </div>
    {% endblock %}

